/* 公共样式头部分 */

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    /* border: 5px solid #ccc; */
    background: url(../image/04_category_03.gif);
  }
  
  header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-left: 20%;
  }
  header .icon {
    width: 55%;
    height: 100%;
    margin-right: 10%;
  }
  header .icon .father {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width: 83%;
    padding-left: 62px;
    height: 100%;
    /* border: 3px solid red; */
  }
  header .icon .father li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
  }
  
  .inputText{
    border: 1px  solid #717171;
    background-color: #4f4f4f;
    width: 205px;
    height: 35px;
    border-right: none;
  }
  
  header .icon .father li:nth-child(3) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%;
  }
  header .icon .father li:nth-child(4) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%;
  }
  
.lunbo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 130px;
    /* border: 5px solid blue; */
    background: url(../image/04_category_07.gif)
  }
  .lunbo .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7%;
    height: 100%;
    margin-left: 16%;
  }
  .lunbo .img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 63%;
    height: 100%;
    /* border: 5px solid black; */
  }
  .lunbo .content .contentItems {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 100%;
    color: #ffffff;
  }
  .lunbo .content .contentItems p {
    width: 100px;
    height: 30px;
  }
  .lunbo .content .contentItems span {
    padding: 5px;
  }
  
  .tab {
    width: 100vw;
    height: 230px;
    /* border: 5px solid red; */
  }
  
  .tal_bgcolor{
    width: 100%;
    height: 50px;
    background: url(../image/04_category_11.gif) repeat-x;
  }
  
  .tab .tabContent {
    display: flex;
    width: 100%;
    height: 30%;
  }
  
  .tab .tabContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73%;
    height: 100%;
    margin: 0 auto;
  }
  
  .tab .tabContent .tabItems {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    color: #ccc;
  }
  
  .tab .tabContent .tabItemsColor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    color: #63b3ad;
  }
  
  .tab .imgContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68%;
  
  }
  .tab .imgContent .imgItems {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    margin-right: -14px;
  }